<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>275379182900-1954tbdujb0okhee6vjg3gfrjan5q8d2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.275379182900-1954tbdujb0okhee6vjg3gfrjan5q8d2</string>
	<key>API_KEY</key>
	<string>AIzaSyClztEpPisrCeNwoTfj2f9Wux5M59paREo</string>
	<key>GCM_SENDER_ID</key>
	<string>275379182900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.engEzz.eCommerceApp</string>
	<key>PROJECT_ID</key>
	<string>e-commcre-app</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commcre-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:275379182900:ios:13680a1ddfb5e269d79961</string>
</dict>
</plist>